STUDIO_USERNAME=marketing
STUDIO_PASSWORD=change-this-pilot-password
STUDIO_SESSION_SECRET=replace-with-at-least-32-random-characters
STUDIO_DATA_PATH=./data/studio.json
STUDIO_TRUST_PROXY_HEADERS=false
